= navbar fixed: :top do
  = navbar_header brand: '<img src="/img/virtkick-logo-pixelart-48.png" class="pix" /> virtkick', brand_link: '/'
  = navbar_collapse do
    = navbar_group class: 'navbar-right', id: 'menu' do
      = partial 'layouts/nav_items'
