= navbar do
  = navbar_header brand: '<img src="/img/logo/virtkick-logo-pixelart-48.png" class="pix" /><img src="/img/virtkick-name-' + logo + '.png" class="virt-name" />', brand_link: '/'
  = navbar_collapse do
    = navbar_group class: 'navbar-right', id: 'menu' do
      = partial 'layouts/nav_items', locals: {header: true}