= navbar_item 'For Users', '/'
= navbar_item 'For Devops', '/for-devops.html'
= navbar_item 'For Developers', '/for-developers.html'
= navbar_item 'For Providers', '/for-vps-providers.html'
= navbar_item 'Community', '/community.html'
= navbar_item 'Blog', '/blog'
= navbar_item 'Fund us', VariousHelper::INDIEGOGO_URL
= navbar_item 'https://github.com/virtkick/virtkick-starter#virtkick-take-cloud-back', {}, target: '_blank' do
  Download&nbsp;
  %i.fa-download.fa
= navbar_item 'https://alpha.virtkick.io/', {}, target: '_blank' do
  Demo&nbsp;
  %i.fa-play.fa
= navbar_item 'https://github.com/virtkick', {}, target: '_blank', rel: :me do
  GitHub&nbsp;
  %i.fa-github.fa.fa-lg
= navbar_item 'https://twitter.com/virtkick', {}, target: '_blank', rel: :me do
  Twitter&nbsp;
  %i.fa-twitter.fa.fa-lg

