= navbar_item 'What is VirtKick?', '/'
= navbar_item 'For Developers', '/for-developers.html'
= navbar_item 'For Providers', '/for-vps-providers.html'
= navbar_item 'Community', '/community.html'
= navbar_item 'Blog', '/blog/'
= navbar_item 'Download', '/download.html', {}, class: 'ga-alpha'