= navbar fixed: :top do
  = navbar_header brand: '<img src="/img/virtkick-logo-pixelart-32.png" class="pix" /><img src="/img/virtkick-logo.png" alt="VirtKick" class="name" />', brand_link: '/'
  = navbar_collapse do
    = navbar_group class: 'foo', id: 'menu' do
      = navbar_item 'Home', '/'
      = navbar_item 'Community', '/community.html'
      = navbar_item 'https://github.com/virtkick/virtkick-webapp' do
        GitHub&nbsp;
        %i.fa-github.fa.fa-lg
