= navbar_item 'Features', '/features.html'
= navbar_item 'People', '/people.html'
= navbar_item 'Blog', '/blog/'
= navbar_item 'Contact', '/contact.html'
= navbar_item 'Demo', '/demo.html', {}, class: 'ga-white-border'