= navbar_item 'What is VirtKick?', '/'
= navbar_item 'For Developers', '/for-developers.html'
= navbar_item 'For Providers', '/for-vps-providers.html'
= navbar_item 'Community', '/community.html'
= navbar_item 'Blog', '/blog/'
= navbar_item 'Download', 'https://github.com/virtkick/virtkick-starter#virtkick-take-cloud-back', {}, target: '_blank', class: 'ga-alpha'