= navbar_item 'For Users', '/'
= navbar_item 'For Devops', '/#integrations'
= navbar_item 'For Providers', '/for-vps-providers.html'
= navbar_item 'Community', '/community.html'
= navbar_item 'https://demo.virtkick.io/', {}, target: '_blank' do
  Live demo&nbsp;
  %i.fa-play.fa
= navbar_item 'https://github.com/virtkick', {}, target: '_blank' do
  GitHub&nbsp;
  %i.fa-github.fa.fa-lg
= navbar_item 'https://twitter.com/virtkick', {}, target: '_blank' do
  Twitter&nbsp;
  %i.fa-twitter.fa.fa-lg

