= navbar_item 'Features', '/features.html'
= navbar_item 'People', '/people.html'
= navbar_item 'Pricing', '/pricing.html'
= navbar_item 'Blog', '/blog/'
= navbar_item 'Contact', '/contact.html'
= navbar_item 'Demo', 'https://demo.virtkick.com', {}, class: 'ga-white-border, button', target: "_blank"