---
title: VirtKick Community
contributors:
- name: Damian Nowak
  email: nowaker@virtkick.io
  nickname: Nowaker
  github: https://github.com/Nowaker
  text: Nowaker is the creator and the mastermind of VirtKick.
    He is responsible for all coding - both the webapp and the internals.
- name: Mateusz Kwiatkowski
  email: kwiat@virtkick.io
  nickname: kwiat
  text: Kwiat is a virtualization and storage expert.
    While he doesn't code, he helps me resolve tough problems with the technology.
- name: Wojtek Jodel
  email: m13@balloonstudio.pl
  nickname: m13
  text: Wojtek is a the UI designer. He makes sure the UI is usable, simple and beautiful.
---
<div id="page-community" class="container">
  <h1>Community</h1>

  <ul>
    <li>
      IRC: #virtkick on Freenode
    </li>
    <li>
      Bugs: <a href="https://github.com/virtkick/virtkick-webapp/issues">GitHub</a>
    </li>
  </ul>

  <h1>Contributors</h1>
  <div class="contributors row">
    <% current_page.data.contributors.each do |contributor| %>
    <article class="col-md-4">
      <%= gravatar_for contributor.email %>
      <header>
        <%= link_to '<i class="fa fa-envelope"></i>', "mailto#{contributor.email}", class: 'email' %>
        <%= contributor.name %>
        <%= link_to "@#{contributor.nickname}", contributor.github, if: contributor.github %>
      </header>
      <p>
        <%= contributor.text %>
      </p>
    </article>
    <% end %>
  </div>

  <h1>Sponsors</h1>

  <div class="sponsors">

    <h2>Gold Sponsors</h2>
    <div class="row">
      <div class="gold-sponsor-box sponsor-box-div col-md-4 col-md-offset-2">
        <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
      </div>
      <div class="gold-sponsor-box sponsor-box-div col-md-4">
        <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
      </div>
    </div>

    <h2>Silver Sponsors</h2>
    <div class="row">
      <% (1..4).each do %>
        <div class="silver-sponsor-box sponsor-box-div col-md-3">
          <a href="/become-a-sponsor.html">Become<br/> a Silver Sponsor</a>
        </div>
      <% end %>
    </div>

    <h2>Bronze Sponsors</h2>
    <div class="row">
      <% (1..6).each do %>
        <div class="bronze-sponsor-box sponsor-box-div col-md-2">
          <a href="/become-a-sponsor.html">Become<br/> a Bronze Sponsor</a>
        </div>
      <% end %>
    </div>
  </div>

  <h1>Donors</h1>

  <p>
    These people made VirtKick happen and backed the project on Kickstarter. Thank you!
  </p>

  <ul>
    <li>John Doe</li>
    <li>
      <%= link_to 'Become a Donor', KICKSTARTER_URL %>
    </li>
  </ul>
</div>
