---
features:
- header: 1-Click Install
  text: We provide decent default settings in our packages and appliances.
    Get started in five minutes - don't care about the details at the beginning!
- header: Useful UI
  text: Meet a useful user interface that lets you achieve most common tasks blazingly fast.
    Create and use your virtual machine with 5 clicks in 45 seconds.
- header: E-commerce enabled
  text: Orders, payments, invoices and helpdesk - it's all here.
    Kickstart your VPS hosting business without building everything from scratch.
live: true
---
<div id="page-index">
  <div class="header">
    <div class="gold-sponsor-box sponsor-box-div col-md-2 hidden-xs hidden-sm">
      <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
      <p>Gold Sponsor</p>
    </div>
    <div class="col-md-8">
      <h1>1-Click Cloud Management Center</h1>
      <p class="subtitle">Cloud made easy for regular users. Kickstart your virtualization!</p>
    </div>
    <div class="gold-sponsor-box sponsor-box-div col-md-2 hidden-xs hidden-sm">
      <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
      <p>Gold Sponsor</p>
    </div>
  </div>

  <div class="container">
    <div class="sponsors-mobile visible-xs visible-sm">
      <h3>
        Gold Sponsors:
      </h3>
      <div  class="row">
        <div class="gold-sponsor-box sponsor-box-div col-sm-6">
          <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
        </div>
        <div class="gold-sponsor-box sponsor-box-div col-sm-6">
          <a href="/become-a-sponsor.html">Become<br/> a Gold Sponsor</a>
        </div>
      </div>
    </div>

    <div class="features">
      <div class="kickstarter-widget col-md-3">
        <h3>Kickstarter campaign</h3>
        <p>
          We <%= current_page.data.live ? 'are' : 'will be' %> raising funds on Kickstarter to make VirtKick happen.
        </p>

        <% if current_page.data.live %>
          <% kickstarter = kickstarter_details %>
          <div class="progress progress-striped">
            <div class="progress-bar" role="progressbar"
                style="width: <%= kickstarter[:pledged_percent_capped] %>%">
            </div>
          </div>
          <p class="goal">
            <%= kickstarter[:pledged_percent] %>% of $37,000 goal
          </p>
          <p>
            <%= link_to 'Pledge now!', kickstarter[:url], :class => 'btn btn-lg btn-block btn-primary' %>
          </p>
        <% end %>

        <p>
          Multiple rewards <%= current_page.data.live ? '' : 'will' %> include: early access to a testing deployment of VirtKick, Linux packages,
          VirtualBox image, Docker repo and more!
          <% if current_page.data.live %>
            <%= link_to 'Check now', kickstarter[:url] %>.
          <% end %>
        </p>

        <% unless current_page.data.live %>
          <p>
            Check back soon or sign up for the newsletter!
          </p>
        <% end %>
      </div>
      <div class="row col-md-9">
        <% current_page.data.features.each do |feature| %>
          <article class="col-md-4">
            <h3><%= feature.header %></h3>
            <div>
              <%= feature.text %>
            </div>
          </article>
        <% end %>
      </div>
      <div class="newsletter row col-md-9">
        <h2>
          Let me know when VirtKick is available:
        </h2>

        <form method="post" class="form-inline" role="form"
            action="https://nowaker.us8.list-manage.com/subscribe/post?u=b74a227fdbddc9f590a62114e&amp;id=08823d8a7b">
          <div class="form-group">
            <input type="text" name="EMAIL" placeholder="e-mail address" id="newsletter-email" class="form-control" autofocus />
            &nbsp;
            <input type="submit" name="subscribe" value="subscribe!" class="btn btn-primary btn-lg" />
          </div>
          <p class="result" data-success="Thank you! Please check your e-mail to confirm."></p>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="silver-sponsors row">
      <div class="title col-md-12">
        <h3>Silver Sponsors</h3>
      </div>
      <div class="col-md-2"></div>
      <% (1..4).each do %>
        <div class="silver-sponsor-box sponsor-box-div col-md-2">
          <a href="/become-a-sponsor.html">Become<br/> a Silver Sponsor</a>
        </div>
      <% end %>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<% content_for :scripts do %>
  <script>
    $(function() {
      $('.newsletter form').ajaxChimp({
        callback: function(response) {
          resultElement = $('.newsletter .result');
          wrapperElement = $('.newsletter .form-group');

          if (response.result == 'error') {
            wrapperElement.removeClass('has-success').addClass('has-error');
            resultElement.addClass('text-danger').text(response.msg);
          } else {
            wrapperElement.removeClass('has-error').addClass('has-success');
            resultElement.removeClass('text-danger').text(resultElement.data('success'));
          }
        }
      });
    })
  </script>
<% end %>
